/* Reset padding and margin */
* {
  margin: 0;
  padding: 0;
}

body {
  padding: 64px 32px;
  font: 18px/1.5 "Avenir", "Avenir Next", "Helvetica Neue", Arial, sans-serif;
  background-color: #22312b;
  color: white
}

header,
footer {
  max-width: 90ex;
  margin: 0 auto;
}

header {
  padding-bottom: 32px;
  border-bottom: 2px solid #ccc;
}

footer {
  padding-top: 16px;
  text-align: right;
}

h1 {
  margin-bottom: 32px;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

#pressure-container {
  width: 600px;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 20px auto;
  position: relative
}

#pressure {
  width: 600px;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 20px auto;
  position: relative;
  inset: 0;
}

.layer {
  width: 600px;
  height: 400px;
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  margin: 20px auto;
}

#gameweek-slider {
  width: 600px;
  margin: 20px auto;
  display: block;
}

#visualization-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}
